<ion-header>
  <ion-navbar>
    <ion-title>
      {{ attendee.fornavn }} {{ attendee.etternavn }}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="card-background-page">
  <ion-item-group>
    <ion-item-divider color="light">General Info</ion-item-divider>
    <ion-item no-lines>
      <ion-icon name="bus" item-left large *ngIf="attendee.transport ==='BUSS_TIDLIG' || attendee.transport ==='BUSS_SEN'"></ion-icon>
      <ion-icon name="car" item-left large *ngIf="attendee.transport ==='BIL'"></ion-icon>
      <h2 *ngIf="attendee.transport ==='BUSS_TIDLIG'">Friday 12:00</h2>
      <h2 *ngIf="attendee.transport ==='BUSS_SEN'">Friday 16:00</h2>
      <h2 *ngIf="attendee.transport ==='BIL'">Own transport</h2>
    </ion-item>
    <ion-item no-lines>
      <ion-icon name="trophy" item-left large></ion-icon>
      <h2>{{ attendee.aktivitetsdeltagelse }}</h2>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light">Room Info</ion-item-divider>
    <ion-item no-lines>
      <ion-icon name="home" item-left large></ion-icon>
      <h2>{{ attendee.rom.navn }}</h2>
    </ion-item>
    <ion-item no-lines>
      <ion-icon name="compass" item-left large></ion-icon>
      <h2>{{ attendee.rom.lokasjon }}</h2>
    </ion-item>
  </ion-item-group>
  <div padding>
    <ion-segment [(ngModel)]="location" color="dark">
      <ion-segment-button value="specific">
        Room
      </ion-segment-button>
      <ion-segment-button value="overview">
        Cabin
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="location">
    <ion-item no-lines *ngSwitchCase="'specific'">
      <img *ngIf="attendee.rom.lokasjon ==='Storskogen 1.etg'" src="https://firebasestorage.googleapis.com/v0/b/atahyttetur.appspot.com/o/staticimages%2F1.JPG?alt=media&token=cb9f6da0-240c-41c7-be62-ae60b497286c" imageViewer />
      <img *ngIf="attendee.rom.lokasjon ==='Storskogen 2.etg'" src="https://firebasestorage.googleapis.com/v0/b/atahyttetur.appspot.com/o/staticimages%2F2.jpg?alt=media&token=507fd700-8c0e-4751-bc5d-f68242febb50" imageViewer />
      <img *ngIf="attendee.rom.lokasjon ==='Storskogen 3.etg'" src="https://firebasestorage.googleapis.com/v0/b/atahyttetur.appspot.com/o/staticimages%2F3.jpg?alt=media&token=8f42bfff-6440-4c79-8a63-6db1dc50f378" imageViewer />
      <img *ngIf="attendee.rom.lokasjon ==='Vesleskogen 1.etg'" src="https://firebasestorage.googleapis.com/v0/b/atahyttetur.appspot.com/o/staticimages%2Fvesleskogen1.jpg?alt=media&token=f7cd7522-281d-4a65-8707-9d6a27921b46" imageViewer />
      <img *ngIf="attendee.rom.lokasjon ==='Vesleskogen 2.etg'" src="https://firebasestorage.googleapis.com/v0/b/atahyttetur.appspot.com/o/staticimages%2Fvesleskogen2.jpg?alt=media&token=a0d0dba6-3f96-46f7-be64-ff2e44c68dfc" imageViewer />
    </ion-item>
    <div *ngSwitchCase="'overview'">
      <ion-item no-lines>
        <img src="https://firebasestorage.googleapis.com/v0/b/atahyttetur.appspot.com/o/staticimages%2Foversikt.jpg?alt=media&token=40ea3e03-ec63-47c7-97b6-f928007adf0e" imageViewer />
      </ion-item>
      <ion-item no-lines text-wrap>
        <p style="text-align: center;">1: Storskogen/Høydehuset 3: Vesleskogen</p>
      </ion-item>
    </div>
  </div>
  <ion-item-group>
    <ion-item-divider color="light">Roommates</ion-item-divider>
    <ion-list>
      <a ion-item (click)="openNavDetailsPage(roomie)" *ngFor="let roomie of roomiesExcludingAttendee" >
        <h2>{{ roomie.etternavn }}, {{ roomie.fornavn }}</h2>
      </a>
    </ion-list>
  </ion-item-group>
</ion-content>
