.chat {
  ion-note {
    font-size: 12px;
    float: right;
    margin-top: 2px !important;
    margin-right: 0px !important;
  }
}

.footer>.toolbar>.toolbar-content {
  background-color: white;
  margin-right: 5px;
  border-radius: 10px;
}

.input-cover {
  position: static;
}

img {
  min-height: 256px;
}

h2 {
  min-height: 20px;
}

.custom-toast .toast-wrapper {
  bottom: 110px !important;
}

.custom-toast {
  z-index: 1 !important;
}

.custom-toast .toast-button {
  width: 100%;
}
