.sebm-google-map-container {
  height: 300px;
  width: 100%;
  //   height: 100%;
  opacity: 0;
  transition: opacity 150ms ease-in
}

.fab-map {
  top: calc(300px - 90px);
  z-index: 50;
  position: absolute;
  left: 10px;
}

p {
  margin: 0 0 2px;
  font-size: 1.4rem;
  color: #666;
}

ion-note {
  font-size: 12px;
  margin-top: 2px !important;
}
