.list-avatar-page {
  ion-note {
    font-size: 12px;
    float: right;
    margin-top: 2px;
  }
  h2 {
    max-width: 80%;
  }
  .badge {
    position: absolute;
    right: 40px;
    top: 25%;
  }
}
