<ion-header>
  <ion-navbar>
    <ion-title>Schedule</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="list-avatar-page">
  <ion-item-group>
    <ion-item-divider color="light">Friday</ion-item-divider>
    <a ion-item *ngFor="let event of friday" text-wrap (click)="openNavDetailsPage(event)">
      <p>{{ event.timeStarts }}<span *ngIf="event.timeEnds"> - {{ event.timeEnds }}</span></p>
      <h2>{{ event.title }}
      </h2>
      <span class="badge" [ngClass]="{'must': event.label === 'MÅ', 'should' : event.label === 'BØR', 'can' : event.label === 'KAN'}">
          {{ event.label }}
      </span>
    </a>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light">Saturday</ion-item-divider>
    <a ion-item *ngFor="let event of saturday" text-wrap (click)="openNavDetailsPage(event)">
      <p>{{ event.timeStarts }}<span *ngIf="event.timeEnds"> - {{ event.timeEnds }}</span></p>
      <h2>{{ event.title }}
        <span class="badge" [ngClass]="{'must': event.label === 'MÅ', 'should' : event.label === 'BØR', 'can' : event.label === 'KAN'}">
          {{ event.label }}
        </span>
      </h2>
    </a>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light">Sunday</ion-item-divider>
    <a ion-item *ngFor="let event of sunday" text-wrap (click)="openNavDetailsPage(event)">
      <p>{{ event.timeStarts }}<span *ngIf="event.timeEnds"> - {{ event.timeEnds }}</span></p>
      <h2>{{ event.title }}
        <span class="badge" [ngClass]="{'must': event.label === 'MÅ', 'should' : event.label === 'BØR', 'can' : event.label === 'KAN'}">
          {{ event.label }}
        </span>
      </h2>
    </a>
  </ion-item-group>
</ion-content>
